.test ul li {
    font-size: .65em !important;
}
/* HEADER */
header {
    margin-bottom: 0 !important;
}
.nav-several {
    padding-bottom: 1rem !important;
}
.left h1 {
    margin-top: .5rem !important;
    font-size: 1.2em !important;
}
.text_top {
    margin: 0 0 !important;
}
.text_top h1 {
    font-size: 1.5em !important;
    margin-bottom: 1.5rem !important;
}
header .btn {
    margin: 2rem auto !important;
}
header .btn button {
    width: 7.5rem !important;
    height: 2.5rem !important;
    font-size: .77em !important;
    color:rgb(7, 243, 243);
    border:2px solid grey;
}
/* MAIN */
.main-block {
    display: block !important;
    margin: 0 !important;
}
.main-block .block-1 {
    width: 70% !important;
    margin: 0 5.3rem !important;
}
.main-block .block-1 img {
    width : 100% !important;
    margin-bottom: 2rem !important;
}
.main-block .block-2 {
    width: 70% !important;
    margin: 0 auto !important;
    text-align: center;
}
.main-block .block-2 p {
    width: 100% !important;
    line-height: 1.5 !important;
}
.main-block .block-2 .video-play{
    /* border:1px solid red; */
    margin: 0 4.5rem !important;
    margin-bottom: 2rem !important;
}
.main-block .block-2 .video-play p {
    width: 40% !important;
    margin: .15rem !important;
}
.some-text h1 {
    font-size: 1.5em !important;
}
.some-text p {
    width: 80% !important;
    font-size: 1.1em !important;
    line-height: 2;
}
.plans-and-decription .block-1 {
    width: 100% !important;
}
.plans-and-decription .block-1 p {
    width: 80% !important;
    margin:0 auto !important;
}
.plans-and-decription .block-2 {
    width: 100% !important;
}
.plans-and-decription .block-2 p {
    width: 90% !important;
    margin:0 auto !important;
}
.plans-and-decription .block-3 {
    width: 100% !important;
}
.plans-and-decription .block-3 p {
    width: 90% !important;
    margin:0 auto !important;
}
.plans-and-decription-2 .block-1 {
    width: 100% !important;
}
.plans-and-decription-2 .block-1 p {
    width: 85% !important;
    margin:0 auto !important;
}
.plans-and-decription-2 .block-2 {
    width: 100% !important;
}
.plans-and-decription-2 .block-2 p {
    width: 90% !important;
    margin:0 auto !important;
}
.plans-and-decription-2 .block-3 {
    width: 100% !important;
}
.plans-and-decription-2 .block-3 p {
    width: 85% !important;
    margin:0 auto !important;
}
.middle-text-1 h1 {
    font-size: 1.7em !important;
}
.middle-text-1 p {
    width: 85%;
    font-size: 1em !important;
}
.center-img-slider-and-stuff {
    background: rgb(254,251,246);
    background: linear-gradient(150deg, rgba(254,251,246,1) 20%, rgba(55,247,223,1) 10%);
}
.middle-stuff h1 {
    font-size: 2.5em !important;
}
.middle-stuff p {
    width: 80% !important;
}
.three-post-down-stuff {
    display: grid;
}
.three-post-down-stuff .img-1 {
    width:100%;
    margin-bottom: 1rem !important;
}
.three-post-down-stuff .img-1 img {
    margin: 0 2.6rem !important;
}
.three-post-down-stuff .img-1 #date {
    text-align: center;
    font-size: 1em !important;
    margin-top: 1rem !important;
}
.three-post-down-stuff .img-1 #place {
    width: 100%;
    text-align: center;
}
.three-post-down-stuff .img-1 #description {
    text-align: center;
}
.three-post-down-stuff .img-2 {
    width:100%;
    margin-bottom: 1rem !important;
}
.three-post-down-stuff .img-2 img {
    margin: 0 2.6rem !important;
}
.three-post-down-stuff .img-2 #date {
    text-align: center;
    font-size: 1em !important;
    margin-top: 1rem !important;
}
.three-post-down-stuff .img-2 #place {
    width: 100%;
    text-align: center;
}
.three-post-down-stuff .img-2 #description {
    text-align: center;
}
.three-post-down-stuff .img-3 {
    width:100%;
    margin-bottom: 1rem !important;
}
.three-post-down-stuff .img-3 img {
    margin: 0 2.6rem !important;
}
.three-post-down-stuff .img-3 #date {
    text-align: center;
    font-size: 1em !important;
    margin-top: 1rem !important;
}
.three-post-down-stuff .img-3 #place {
    width: 100%;
    text-align: center;
}
.three-post-down-stuff .img-3 #description {
    text-align: center;
}
.customers h1 {
    font-size: 1.5em !important;
}
.customers .three-customers {
    display: grid;
    height: 75rem !important;
    margin: 2rem 7rem !important;
}
.customers .three-customers .co-1 {
    height: 20rem !important;
}
.customers .three-customers .co-2 {
    height: 20rem !important;
}
.customers .three-customers .co-3 {
    height: 20rem !important;
}
.down-text h2 {
    font-size: 1.9em !important;
}
.down-text p {
    width: 90% !important;
    font-size: .88em !important;
    margin-bottom: 5rem !important;
}
.image-and-star {
    display: grid;
}
.image-and-star img {
    width: 20rem !important;
}
.image-and-star p {
    width: 100% !important;
    text-align :center;
}
.image-and-star .first-img .iconify,.seccond-img .iconify,
.third-img .iconify , .fourth-img .iconify{
    width: 30%;
}
/* FOOTER */
.footer-main {
    display: grid !important;
    grid-template-columns: 300px 190px;
}
.top-footer-part-1 ul {
    margin: 1rem .5rem !important;
}
.top-footer-part-2 ul {
    margin: 1rem .5rem !important;
}
.top-footer-part-1 li:first-child {
    width: 25% !important;
}
.top-footer-part-1 li:nth-child(2) {
    width: 41% !important;
}
.top-footer-part-1 li:nth-child(3) {
    width: 30% !important;
}
.top-footer-part-1 li:nth-child(4) {
    width: 12% !important;
}
.top-footer-part-1 li:nth-child(5) {
    width: 15% !important;
}
.top-footer-part-2 li:first-child {
    width: 45% !important;
}
.top-footer-part-2 li:nth-child(2) {
    width: 35% !important;
}
.top-footer-part-2 li:nth-child(3) {
    width: 25% !important;
}
.top-footer-part-2 li:nth-child(4) {
    width: 30% !important;
}
.top-footer-part-2 li:nth-child(5) {
    width: 40% !important;
}
.top-footer-part-3 p {
    margin: 1rem 1rem !important;
}
footer .footer-end p:first-child{
    width: 30rem !important;
}
.footer-end p:nth-child(2) {
    font-size: .8em !important;
    font-family: Arial, Helvetica, sans-serif;
}