.main-block .block-1 {
    margin: 0 4.5rem !important;
}
.main-block .block-2 .video-play {
    width: 80% !important;
}
.footer-main {
    display: grid !important;
    grid-template-columns: 200px 190px;
}
.footer-main h4 {
    margin-top: 3rem !important;
}
.top-footer-part-1 h4 {
    width: 50% !important;
}
.top-footer-part-1 li:first-child {
    width: 40% !important;
}
.top-footer-part-1 li:nth-child(2) {
    width: 60% !important;
}
.top-footer-part-1 li:nth-child(3) {
    width: 50% !important;
}
.top-footer-part-1 li:nth-child(4) {
    width: 20% !important;
}
.top-footer-part-1 li:nth-child(5) {
    width: 30% !important;
}
.top-footer-part-2 h4 {
    width: 40% !important;
}
.top-footer-part-3 h4 {
    width: 60% !important;
    margin: 2rem 1rem !important;
}
.top-footer-part-4 h4 {
    width: 50% !important;
}
.top-footer-part-4 p {
    width: 80% !important;
}
.top-footer-part-4 .form {
    width: 10rem !important;
    border: none !important; 
}
.top-footer-part-4 .form input {
    margin-bottom: 1rem !important;
}
footer .footer-end p:first-child {
    width: 20rem !important;
}